.photoGallery__main {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
}

.photoGallery__header {
    text-align: center;
    background-color: #0a0a23;
    text-transform: uppercase;
    color: #fff;
    padding: 32px;
    border-bottom: 4px solid #fdb347;
}

.photoGallery__imageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.photoGallery__imageContainer img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.photoGallery__imageContainer::after {
    content: '';
    width: 350px;
}

#photoGallery footer {
    text-align: center;
    background: #0a0a23 !important;
    color: #fff !important;
    padding: 32px;
    border-top: 4px solid #fdb347;
    font-family: sans-serif !important;
}

#photoGallery footer p {
    background: #0a0a23 !important;
    color: #fff !important;
}