.rothkoPainting__frame {
    border: 50px solid black;
    width: 700px;
    padding: 50px;
    margin: 20px auto;

}

.rothkoPainting__canvas {
    width: 500px;
    height: 600px;
    background-color: #4d0f00;
    filter: blur(2px);
    overflow: hidden;
}

.rothkoPainting__one {
    width: 425px;
    height: 150px;
    background-color: #efb762;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #efb762;
    border-radius: 9px;
    transform: rotate(-0.6deg);
}

.rothkoPainting__two {
    width: 475px;
    height: 200px;
    background-color: #8f0401;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #8f0401;
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
}

.rothkoPainting__three {
    width: 91%;
    height: 28%;
    background-color: #b20403;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #b20403;
    border-radius: 30px 25px 60px 12px;
}

.rothkoPainting__main footer p {
    color: #dfdfe2;
    font-size: 20px;
}

.rothkoPainting__main footer a {
    font-weight: bold;
    color: #dfdfe2;
}